*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  --color-vue: rgb(79, 192, 141);

  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
}
